<section id="idAbout" class="about">
  <div class="container about-container">
    <div class="about-text-box">
      <h2 class="about-title">About the Game</h2>
      <h3 class="about-subtitle">Welcome to Miner`s Rush</h3>
      <p class="about-text">More than just a match-3 game, Miners Rush is a puzzle-packed journey beneath the surface.
        With every move, you unlock hidden gems, blast obstacles, and power up miners to advance through increasingly
        complex levels. It`s strategic,
        explosive, and seriously fun.</p>
    </div>

  </div>
</section>