<section class="level-section">
  <div class="container">
    <div class="bg__level-img"></div>
    <div class="bg__content">
      <h3 class="title__level">
        Dive in, level up, and prove you’ve got what it takes to go all the way
      </h3>
      <p class="text__level">
        Dive into a journey of match-3 challenges where every level brings a new
        twist! Complete unique puzzles, unlock rewards, and uncover the secrets
        hidden across each stage.
      </p>
      <div class="wrap__level-content">
        <div class="wrap__link-wifi">
          <svg class="icon__wifi">
            <use href="/img/sprite.svg#icon-wifi"></use>
          </svg>
          <span class="text__level-wifi">Offline-Friendly</span>
          <a class="link__hero-btn level" href="https://play.google.com/store/apps/details?id=com.btc.dwarves&hl=en_US"
            target="_blank" rel="noopener noreferrer">
            <svg class="icon__google-play level">
              <use href="/img/sprite.svg#icon-google-play"></use>
            </svg>
            Plug and play
          </a>
        </div>
        <div class="bg__level-smile"></div>
      </div>
    </div>
  </div>
</section>