<section id="idLevels" class="levels">
  <div class="container">
    <h2 class="levels-title">Campaign Levels</h2>
    <div class="levels-wraper">
      <div class="levels-img-wraper">
        <picture>
          <source media="(min-width: 1200px)"
            srcset="/img/campaign-levels-desk.webp 1x, /img/campaign-levels-desk@2x.webp 2x">
          <source media="(max-width: 1199px)"
            srcset="/img/campaign-levels-mob.webp 1x, /img/campaign-levels-mob@2x.webp 2x">
          <img class="levels-image" src="/img/campaign-levels-mob.webp" alt="Campaign Levels" width="163" height="166">
        </picture>
      </div>
      <div class="levels-text-wraper">
        <h3 class="levels-subtitle">100+ Levels of Strategic Mining</h3>
        <p class="levels-text">Each level introduces new mechanics such as :</p>
        <ul class="levels-list">
          <li class="levels-list-item">Drill Bot Tiles : Match next to them to activate massive drills</li>
          <li class="levels-list-item">Chained Blocks : Free them to open new pathways</li>
          <li class="levels-list-item">Lava Tiles : Create matches fast before lava takes over</li>
          <li class="levels-list-item">Time-Limited Challenges : Race against the clock to clear the board</li>
        </ul>
      </div>
    </div>


  </div>
</section>