<section id="idContact" class="contact">
  <div class="container">
    <div class="contact-wrap-img"></div>
    <div class="contact-wrap-content">
      <h2 class="contact-title">Contact Us</h2>
      <p class="contact-text">Have questions, suggestions, or feedback? We`d love to hear from you.</p>
      <a class="contact-link" href="mailto:info@rushflare.space"><svg class="contact-email-icon" width="22" height="18">
          <use href="/img/sprite.svg#icon-email"></use>
        </svg>info@rushflare.space</a>
    </div>

  </div>
</section>