<section id="idDownloads" class="download">
  <div class="container">
    <div class="download-wraper-img"></div>
    <div class="download-wraper-content">
      <h2 class="download-title">Download Now</h2>
      <h3 class="download-subtitle">Start Your Match-3 Mining Adventure Today</h3>
      <p class="download-text">Download Miner`s Rush and explore a colorful, strategic puzzle game like no other.</p>
      <a class="link__hero-btn"
        href="https://play.google.com/store/apps/details?id=com.RVEntertainment.CrystalTemple&hl=en&gl=us"
        target="_blank">
        <svg class="icon__google-play">
          <use href="/img/sprite.svg#icon-google-play"></use>
        </svg>
        Download Free on Google Play
      </a>
    </div>

  </div>
</section>