<section id="idFeatures" class="features">
  <div class="container">
    <div class="bg-img-feature"></div>
    <div class="wrap-content__feature">
      <h2 class="title__feature">Game Features</h2>
      <ul class="list__feature">
        <li class="item__feature width__1 bg__accent">
          <p class="text__feature">
            Over 100 Challenging Levels:<span class="hyphenation"
              >Each one designed with unique patterns and objectives</span
            >
          </p>
          <div class="wrap__icon bg__color-1">
            <svg class="icon__feature">
              <use href="/img/sprite.svg#icon-feature-1"></use>
            </svg>
          </div>
        </li>

        <li class="item__feature width__2">
          <p class="text__feature">
            Fresh Match-3 Mechanics:<span class="hyphenation"
              >power drills, chained tiles, explosive tools, and crystal
              cages</span
            >
          </p>
          <div class="wrap__icon bg__color-2">
            <svg class="icon__feature">
              <use href="/img/sprite.svg#icon-feature-2"></use>
            </svg>
          </div>
        </li>

        <li class="item__feature width__3">
          <p class="text__feature">
            Vibrant Visuals:<span class="hyphenation"
              >bright gems, smooth animations, and playful characters</span
            >
          </p>
          <div class="wrap__icon bg__color-3">
            <svg class="icon__feature">
              <use href="/img/sprite.svg#icon-feature-3"></use>
            </svg>
          </div>
        </li>

        <li class="item__feature width__4">
          <p class="text__feature">
            Upgrade Tools:<span class="hyphenation"
              >use special tool to clear row, break blocks, and create massive
              combos</span
            >
          </p>
          <div class="wrap__icon bg__color-4">
            <svg class="icon__feature">
              <use href="/img/sprite.svg#icon-feature-4"></use>
            </svg>
          </div>
        </li>

        <li class="item__feature width__5 bg__accent">
          <p class="text__feature">
            Progressive Difficulty:<span class="hyphenation"
              >levels become more complex and rewarding the deeper you go</span
            >
          </p>
          <div class="wrap__icon bg__color-5">
            <svg class="icon__feature">
              <use href="/img/sprite.svg#icon-feature-5"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
