<section id="idGallery" class="gallery">
  <div class="container">
    <h2 class="title__gallery">Gallery/Screenshots</h2>
    <div class="swiper">
      <div class="list__gallery swiper-wrapper">
        <div class="item__gallery swiper-slide">
          <p class="text__gallery">Watch bots drill through gem stacks</p>
          <picture>
            <source
              srcset="
                /img/mobile-gallery-2.webp    1x,
                /img/mobile-gallery-2@2x.webp 2x
              "
              width="113"
              height="220"
              media="(max-width: 1199px)"
            />
            <img
              srcset="/img/gallery-1.webp 1x, /img/gallery-1@2x.webp 2x"
              src="/img/gallery-1.webp"
              alt="gallery-play"
              width="323"
              height="520"
              class="gallery-img"
            />
          </picture>
        </div>
        <div class="item__gallery swiper-slide">
          <p class="text__gallery">
            Navigate frozen, caged, and blocked tiles with strategy
          </p>
          <picture>
            <source
              srcset="
                /img/mobile-gallery-2.webp    1x,
                /img/mobile-gallery-2@2x.webp 2x
              "
              width="113"
              height="220"
              media="(max-width: 1199px)"
            />
            <img
              srcset="/img/gallery-1.webp 1x, /img/gallery-1@2x.webp 2x"
              src="/img/gallery-1.webp"
              alt="gallery-play"
              width="323"
              height="520"
              class="gallery-img"
            />
          </picture>
        </div>
        <div class="item__gallery swiper-slide">
          <p class="text__gallery">Match bright gems on unique level layouts</p>
          <picture>
            <source
              srcset="
                /img/mobile-gallery-2.webp    1x,
                /img/mobile-gallery-2@2x.webp 2x
              "
              width="113"
              height="220"
              media="(max-width: 1199px)"
            />
            <img
              srcset="/img/gallery-1.webp 1x, /img/gallery-1@2x.webp 3x"
              src="/img/gallery-1.webp"
              alt="gallery-play"
              width="323"
              height="520"
              class="gallery-img"
            />
          </picture>
        </div>
        <div class="item__gallery swiper-slide">
          <p class="text__gallery">
            Unlock power-ups and cause massive screen-clearing effects
          </p>
          <picture>
            <source
              srcset="
                /img/mobile-gallery-2.webp    1x,
                /img/mobile-gallery-2@2x.webp 2x
              "
              width="113"
              height="220"
              media="(max-width: 1199px)"
            />
            <img
              srcset="/img/gallery-1.webp 1x, /img/gallery-1@2x.webp 3x"
              src="/img/gallery-1.webp"
              alt="gallery-play"
              width="323"
              height="520"
              class="gallery-img"
            />
          </picture>
        </div>
        <div class="item__gallery swiper-slide">
          <p class="text__gallery">
            Navigate frozen, caged, and blocked tiles with strategy
          </p>
          <picture>
            <source
              srcset="
                /img/mobile-gallery-2.webp    1x,
                /img/mobile-gallery-2@2x.webp 2x
              "
              width="113"
              height="220"
              media="(max-width: 1199px)"
            />
            <img
              srcset="/img/gallery-1.webp 1x, /img/gallery-1@2x.webp 3x"
              src="/img/gallery-1.webp"
              alt="gallery-play"
              width="323"
              height="520"
              class="gallery-img"
            />
          </picture>
        </div>
        <div class="item__gallery swiper-slide">
          <p class="text__gallery">Match bright gems on unique level layouts</p>
          <picture>
            <source
              srcset="
                /img/mobile-gallery-2.webp    1x,
                /img/mobile-gallery-2@2x.webp 2x
              "
              width="113"
              height="220"
              media="(max-width: 1199px)"
            />
            <img
              srcset="/img/gallery-1.webp 1x, /img/gallery-1@2x.webp 3x"
              src="/img/gallery-1.webp"
              alt="gallery-play"
              width="323"
              height="520"
              class="gallery-img"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-next">
        <svg class="icon-arrow-next">
          <use href="/img/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="icon-arrow-prev">
          <use href="/img/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      </div>
    </div>
   </div>
</section>
