<header class="header">
  <div class="container">
    <a class="link-logo__mobile" href="./index.html">
      <img
        srcset="./img/logo.webp 1x, ./img/logo@2x.webp 2x"
        src="./img/logo.webp"
        alt="logo"
        width="24"
        height="24"
      />
    </a>

    <a class="link-logo link" href="./index.html">Miner`s Rush</a>
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="item-header"><a class="link" href="#idAbout">About</a></li>
        <li class="item-header">
          <a class="link" href="#idFeatures">Features</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idHowToPlay">How to play</a>
        </li>
        <li class="item-header"><a class="link" href="#idLevels">Levels</a></li>
        <li class="item-header">
          <a class="link" href="#idPowerUps">Power-Ups</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idStrategyTips">Strategy Tips</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idGallery">Gallery</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idWhyPlay">Why Play</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idReviews">Reviews</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idGameInfo">Game Info</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idDownloads">Download</a>
        </li>
        <li class="item-header">
          <a class="link" href="#idContact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn" type="button" data-action="open">
      <svg class="burger-icon">
        <use href="./img/sprite.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
