<section id="idHero" class="hero">
  <div class="container">
    <div class="hero__bg-image"></div>
    <div class="bg__coffer"></div>
    <div class="wrap__hero-content">
      <h1 class="title__hero">Miner`s Rush</h1>
      <h2 class="title__hero-content">
        A Match-3 Puzzle Adventure with a Mining Twist
      </h2>
      <p class="text__hero">
        Blast your way through shimmering gems and mining machines in a vibrant,
        action-packed puzzle adventure. Miner`s Rush transforms the classic
        match-3 formula with new game mechanics, challenges, and over 100
        thrilling levels.
      </p>
      <a
        class="link__hero-btn"
        href="https://play.google.com/store/apps/details?id=com.RVEntertainment.CrystalTemple&hl=en&gl=us"
        target="_blank"
      >
        <svg class="icon__google-play">
          <use href="/img/sprite.svg#icon-google-play"></use>
        </svg>
        Download Free on Google Play
      </a>
      <div class="wrap__hero-btn">
        <button class="hero__btn-play-now" type="button">Play Now</button>
        <a class="hero__watch-gameplay" href="#">Watch Gameplay</a>
      </div>
    </div>
  </div>
</section>
