<section id="idHowToPlay" class="how-to-play">
  <div class="container">
    <h2 class="how-to-play-title">How to play</h2>
    <ul class="how-to-play-list">
      <li class="how-to-play-item">
        <a href="#" class="how-to-play-link">Make a Match</a>
        <picture>
          <source media="(min-width: 1200px)" srcset="/img/make-match-desk.webp 1x, /img/make-match-desk.webp 2x">
          <source media="(max-width: 1199px)" srcset="/img/make-match-mob.webp 1x, /img/make-match-mob@2x.webp 2x">
          <img class="how-to-play-img" src="/img/make-match-mob.webp" alt="make match" width="70" height="70">
        </picture>
        <p class="how-to-play-text">Find 3 or more identical gems to clear them from the board.</p>
      </li>
      <li class="how-to-play-item">
        <a href="#" class="how-to-play-link">Match & Win</a>
        <picture>
          <source media="(min-width: 1200px)" srcset="/img/match-win-desk.webp 1x, /img/match-win-desk.webp 2x">
          <source media="(max-width: 1199px)" srcset="/img/match-win-mob.webp 1x, /img/match-win-mob@2x.webp 2x">
          <img class="how-to-play-img" src="/img/match-win-mob.webp" alt="match win" width="70" height="70">
        </picture>
        <p class="how-to-play-text">Use special power-ups to eliminate tough obstacles.</p>
      </li>
      <li class="how-to-play-item">
        <a href="#" class="how-to-play-link">Clear the Board</a>
        <picture>
          <source media="(min-width: 1200px)" srcset="/img/clear-board-desk.webp 1x, /img/clear-board-desk@2x.webp 2x">
          <source media="(max-width: 1199px)" srcset="/img/clear-board-mob.webp 1x, /img/clear-board-mob@2x.webp 2x">
          <img class="how-to-play-img" src="/img/clear-board-mob.webp" alt="Clear the Board" width="70" height="70">
        </picture>
        <p class="how-to-play-text">Free stuck tiles by breaking chains and cages.</p>
      </li>
      <li class="how-to-play-item">
        <a href="#" class="how-to-play-link">Mission Complete</a>
        <picture>
          <source media="(min-width: 1200px)"
            srcset="/img/mission-complete-desk.webp 1x, /img/mission-complete-desk@2x.webp 2x">
          <source media="(max-width: 1199px)"
            srcset="/img/mission-complete-mob.webp 1x, /img/mission-complete-mob@2x.webp 2x">
          <img class="how-to-play-img" src="/img/mission-complete-mob.webp" alt="Mission Complete" width="70"
            height="70">
        </picture>
        <p class="how-to-play-text">Complete each level`s unique objective to move forward.</p>
      </li>
      <li class="how-to-play-item">
        <a href="#" class="how-to-play-link">Level Challenge</a>
        <picture>
          <source media="(min-width: 1200px)"
            srcset="/img/level-challenge-desk.webp 1x, /img/level-challenge-desk@2x.webp 2x">
          <source media="(max-width: 1199px)"
            srcset="/img/level-challenge-mob.webp 1x, /img/level-challenge-mob@2x.webp 2x">
          <img class="how-to-play-img" src="/img/level-challenge-mob.webp" alt="Level Challenge" width="70" height="70">
        </picture>
        <p class="how-to-play-text">Use your tourns wisely - strategy matters.</p>
      </li>
    </ul>
  </div>
</section>