<section class="mobile-menu" data-visible="close">
  <div class="container mobile-menu-container">
    <a class="link-logo__mobile" href="./index.html">
      <img
        srcset="./img/logo.webp 1x, ./img/logo@2x.webp 2x"
        src="./img/logo.webp"
        alt="logo"
        width="24"
        height="24"
    /></a>

    <button class="mobile-menu-close" data-action="close">
      <svg class="mobile-icons-close">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="container wrap-mobile-menu">
    <nav class="header-momile-nav">
      <ul class="mobile-menu-list">
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idAbout">About</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idFeatures">Features</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idHowToPlay"
            >How to play</a
          >
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idLevels">Levels</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idPowerUps">Power-Ups</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idStrategyTips"
            >Strategy Tips</a
          >
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idGallery">Gallery</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idWhyPlay">Why Play</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idReviews">Reviews</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idGameInfo">Game Info</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idDownloads">Download</a>
        </li>
        <li class="item-mobile-menu">
          <a class="link" data-mobile-menu-link href="#idContact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
