<div class="backdrop-cookies" data-visible-cookies="open">
  <div class="modal-cookies">
    <h2 class="title-modal-cookies">Cookies Policy</h2>
    <p class="text-cookies">We use cookies to improve your experience on our website. By browsing this website, you
      agree to our use of
      cookies.</p>
    <div class="modal-cookies-wrap">
      <div class="modal-cookies-wrap-item"><button class="modal-cookies-btn-accept" data-accept-cookies type="button"
          value="accepted">ACCEPT
          COOKIES</button></div>
      <div class="modal-cookies-wrap-item"><button class="modal-cookies-btn-decline" data-decline-cookies type="button"
          value="rejected">DECLINE
          COOKIES</button></div>
    </div>

  </div>
</div>