<section id="idPowerUps" class="power-ups">
  <div class="container">
    <h2 class="title__power-ups">Power -Ups and Tools</h2>
    <div class="wrapper__text-content">
      <div class="bg__text-accent"></div>
      <p class="text__power-ups">
        <span class="text__power-ups-accent"
          >Make every move count with these powerful tools</span
        >Unlock dazzling boosters and clever tools to clear tricky tiles faster.
        From color blasters to row-clearing hammers — each one helps you crush
        the board in style. Use them at the perfect moment to chain combos and
        beat even the toughest levels!
      </p>

      <ul class="list1__power-ups">
        <li class="item1__power-ups">
          <h3 class="title__power-ups1">Blaster Pickaxe</h3>
          <p class="text1__power-ups">Clears a 3*3 grid instantly</p>
        </li>
        <li class="item1__power-ups">
          <h3 class="title__power-ups1 accent">Color Bomb</h3>
          <p class="text1__power-ups accent">
            Eliminates all gems of one color
          </p>
        </li>
        <li class="item1__power-ups">
          <h3 class="title__power-ups1">Drill Machine</h3>
          <p class="text1__power-ups">
            Carves through rock walls and tough blocks
          </p>
        </li>
        <li class="item1__power-ups">
          <h3 class="title__power-ups1 accent">Swap Tool</h3>
          <p class="text1__power-ups accent">
            Lets you change gem positions strategically
          </p>
        </li>
      </ul>
    </div>
    <a
      class="link__power-ups"
      href="https://play.google.com/store/apps/details?id=com.RVEntertainment.CrystalTemple&hl=en&gl=us"
    >
      <svg class="icon__power-ups">
        <use href="/img/sprite.svg#icon-feature-2"></use>
      </svg>
      Power up your puzzle play!
    </a>
    <div class="bg__power-ups"></div>

    <h2 id="idStrategyTips" class="title__power-ups-strategy">Strategy Tips</h2>
    <ul class="list2__power-ups">
      <li class="item2__power-ups">
        <p class="text2__power-ups">
          Prioritize breacking chains and unlocking drill bots early
        </p>
      </li>
      <li class="item2__power-ups">
        <p class="text2__power-ups">
          Combine power-ups for board-clearing explosions
        </p>
      </li>
      <li class="item2__power-ups">
        <p class="text2__power-ups">
          Save boosters for later rounds where difficulty spikes
        </p>
      </li>
      <li class="item2__power-ups">
        <p class="text2__power-ups">
          Keep an eye on limited moves - plan 2 steps ahead
        </p>
      </li>
      <li class="item2__power-ups">
        <p class="text2__power-ups">
          Go for combo chains to rack up points fast
        </p>
      </li>
    </ul>
    <div class="wrapper__man-wheetbarrow">
      <div class="bg__power-ups-man"></div>
      <div class="bg__power-ups-wheelbarrow"></div>
    </div>
  </div>
</section>
