<section id="idWhyPlay" class="why-play">
  <div class="container">
    <div class="bg-img"></div>
    <div class="wrap-content__why-play">
      <h2 class="title__why-play">Why Play Miner`s Rush</h2>
      <ol class="list__why-play">
        <li class="item__why-play purple">
          <p class="text__why-play">A refreshing twist on match-3 gameplay</p>
        </li>
        <li class="item__why-play blue">
          <p class="text__why-play">Visually engaging with smooth controls</p>
        </li>
        <li class="item__why-play blue-light">
          <p class="text__why-play">
            Balanced for casual players and challenge-seekers<span
              class="hyphenation"
              >alike</span
            >
          </p>
        </li>
        <li class="item__why-play violet">
          <p class="text__why-play">
            Offline-friendly - enjoy anytime, anywhere
          </p>
        </li>
        <li class="item__why-play green">
          <p class="text__why-play">No intrusive ads, just pure puzzle fun</p>
        </li>
      </ol>
    </div>
  </div>
</section>
