.cookies-policy-section {
  padding-bottom: 60px;
}

.cookies-policy-title,
.cookies-policy-subtitle-info {
  font-size: 16px;
  margin-bottom: 12px;
}

.cookies-policy-text {
  line-height: 1.25;
  margin-bottom: 4px;
}

.cookies-policy-text span {
  display: inline-block;
}


.cookies-policy-list {
  font-size: 16px;
  counter-reset: list-counter;
}

.cookies-policy-list-item {
  counter-increment: list-counter;
  margin-bottom: 4px;
}

.cookies-policy-list-item::before {
  content: counter(list-counter) ".";
  margin-left: 6px;
  margin-right: 2px;
}

.cookies-policy-subtitle {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 4px;
}

.cookies-policy-text-item {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.cookies-policy-text-item span {
  display: inline-block;
  margin-bottom: 4px;
}

.cookies-policy-sublist {
  margin-bottom: 4px;
}

.cookies-policy-sublist .cookies-policy-sublist-item::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  left: -12px;
  top: 7px;
  border-radius: 0.3px;
}

.cookies-policy-sublist-item {
  font-size: 12px;
  line-height: 1.25;
  margin-left: 12px;
  position: relative;
}

.cookies-policy-sublist-item span {
  display: block;
}

.cookies-policy-sublist-link,
.cookies-policy-text a {
  text-decoration: underline;
}


.cookies-policy-sublist-block {
  margin-bottom: 8px;
}

.cookies-policy-list-item:last-child {
  margin-bottom: 0;
}

.cookies-policy-text-item.add-text-item {
  display: none;
}

@media only screen and (min-width: 1200px) {

  .cookies-policy-title {
    font-size: 44px;
  }

  .cookies-policy-subtitle-info {
    font-size: 28px;
  }

  .cookies-policy-text {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .cookies-policy-subtitle {
    font-size: 32px;
  }

  .cookies-policy-list-item {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .cookies-policy-list-item::before {
    margin-left: 11px;
  }

  .cookies-policy-text-item {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .cookies-policy-text-item span {
    margin-bottom: 0;
  }

  .cookies-policy-sublist-item {
    font-size: 20px;
    margin-left: 111px;
  }

  .cookies-policy-sublist .cookies-policy-sublist-item::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    left: -13px;
    top: 12px;
    border-radius: 0.3px;
  }

  .cookies-policy-section {
    padding-bottom: 69px;
  }

  .cookies-policy-text-item.add-text-item {
    display: inline-block;
  }
}