.gallery {
background-color:  #979eff;
padding-top: 12px;
padding-bottom: 12px;
margin-bottom: 4px;
}

.title__gallery {
font-size: 20px;
margin-bottom: 24px;
text-align: center; 
color: #979eff;
text-shadow:
-2px -2px 0 #ffffff,
0 -2px 0 #ffffff,
2px -2px 0 #ffffff,
-2px 0 0 #ffffff,
2px 0 0 #ffffff,
-2px 2px 0 #ffffff,
0 2px 0 #ffffff,
2px 2px 0 #ffffff,
-1px -2px 0 #ffffff,
1px -2px 0 #ffffff,
-1px 2px 0 #ffffff,
1px 2px 0 #ffffff,
-2px -1px 0 #ffffff,
2px -1px 0 #ffffff,
-2px 1px 0 #ffffff,
2px 1px 0 #ffffff;
}

.text__gallery {
font-size: 12px;
text-align: center;
margin-bottom: 4px;
height: 50px;
}
.gallery-img {
margin: 0 auto;
}

.list__gallery {
margin-bottom: 20px;
}

.item__gallery.swiper-slide {
width: 135px;
height: 252px;
}

.swiper {
width: 100%;
padding: 0 15px;
position: relative;
overflow: hidden;
}

.swiper-wrapper {
transition-timing-function: ease-out;
}

.swiper-slide {
width: auto;
transition: transform 0.3s ease;
}
/* Основний контейнер пагінації */
.swiper-pagination {
position: relative;
display: flex;
justify-content: center;
align-items: center;
gap: 6px;
width: 100%;
height: 20px;
z-index: 10;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  transition: all 0.3s ease;
}

/* Активна кулька */
.bullet-distance-0 {
  transform: scale(1.3);
  background-color: #7f8aff;
  opacity: 1;
}

/* Чим далі — тим менше */
.bullet-distance-1 {
  transform: scale(1.1);
  opacity: 0.8;
}
.bullet-distance-2 {
  transform: scale(0.95);
  opacity: 0.6;
}
.bullet-distance-3 {
  transform: scale(0.8);
  opacity: 0.45;
}
.bullet-distance-4 {
  transform: scale(0.7);
  opacity: 0.3;
}
.bullet-distance-5 {
  transform: scale(0.6);
  opacity: 0.2;
}



.swiper .swiper-button-next,
.swiper .swiper-button-prev {
display: none;

}

/* Прибираємо стандартні іконки Swiper */
.swiper-button-next::after,
.swiper-button-prev::after {
display: none;
}

/* Десктопна версія */

@media (min-width: 1200px) {
.gallery {
background-color:  #979eff;
padding-top: 19px;
padding-bottom: 79px;
margin-bottom: 12px;
}

.title__gallery {
font-size: 48px;
margin-bottom: 50px;
text-align: center; 
color: transparent;
-webkit-text-stroke: 2px #fff;
text-shadow:none;
}
.text__gallery {
font-size: 16px;
line-height: 1.25;
margin-bottom: 0;
}

.item__gallery.swiper-slide {
height: 575px;
}

.list__gallery {
margin-bottom: 22px;
}

.gallery .swiper {
display: flex;
justify-content: center;
align-items: center;
margin-left: 15px;

/* padding: 0 60px;
max-width: 1200px;
margin: 0 auto; */
}

.swiper-slide {
flex: 0 0 calc((100% - 60px) / 3); /* Розділити на 3 слайди з 30px між ними */
max-width: 360px;
transition: transform 0.3s ease;
}

.swiper-slide-active {
transform: scale(1.05);
z-index: 1;
}


.icon-arrow-next {
transform: scaleX(-1); 
}

.swiper .swiper-button-next {
    display: block;
    left: 748px
}
.swiper .swiper-button-prev {
display: block;
position: absolute;
left: 354px;
}
.swiper-button-prev .icon-arrow-prev,
.swiper-button-next .icon-arrow-next {
fill: #fff;
transition: fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-next:hover .icon-arrow-next,
.swiper-button-prev:hover .icon-arrow-prev {
  fill: #636acb;

}

.swiper-button-next:active .icon-arrow-next,
.swiper-button-prev:active .icon-arrow-prev {
  fill:  #5120e3;
}


}