.power-ups {
   background-color: #9d9afd;
   margin-bottom: 4px;
   padding-top: 12px;
}
.title__power-ups{
    font-size: 20px;
    color: #979eff;
    margin-bottom: 16px;
    text-align: center;
    text-shadow:
    -2px -2px 0 #ffffff,
    0 -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 0 0 #ffffff,
    -2px 2px 0 #ffffff,
    0 2px 0 #ffffff,
    2px 2px 0 #ffffff,
    -1px -2px 0 #ffffff,
    1px -2px 0 #ffffff,
    -1px 2px 0 #ffffff,
    1px 2px 0 #ffffff,
    -2px -1px 0 #ffffff,
    2px -1px 0 #ffffff,
    -2px 1px 0 #ffffff,
    2px 1px 0 #ffffff;
}
.wrapper__text-content {
    position: relative;
    /* margin-bottom: 16px; */
}
.bg__text-accent {
    background-image: url('/img/mobile-bg-power-accent.webp');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 105px;
    height: 140px;
    margin-bottom: 16px;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__text-accent {
      background-image: url(/img/mobile-bg-power-accent@2x.webp);
    }
  }

  .text__power-ups {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 272px;
    line-height: 1.28;
    font-size: 11px;
    background: #636acb;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 12px;
    color: #f6f6f6;
  }

  .text__power-ups-accent {
    font-size: 12px;
    display: block;
    margin-bottom: 12px;
  }
  .list1__power-ups {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

  }
  .item1__power-ups { 
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    height: 70px;
  }
  .list1__power-ups .item1__power-ups:nth-child(2),
  .list1__power-ups .item1__power-ups:nth-child(4) {
    position: relative;
  }

  .item1__power-ups .title__power-ups1.accent {
    position: absolute;
    top: 0;
    left: 87px;
  }
  .item1__power-ups .text1__power-ups.accent {
    position: absolute;
    top: 20px;
    left: 128px;
  }
  
  .title__power-ups1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555ab1;
    border-radius: 20px;
    padding: 4px 17px;
    width: 140px;
    height: 28px;
    z-index: 1;
  }

  .text1__power-ups {
    position: absolute;
    top: 20px;
    left: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 17px 7px 16px;
    border-radius: 12px 40px 12px 12px;
    width: 160px;
    height: 48px;
    background: #636acb;
    z-index: 0;
  }

  .link__power-ups {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 248px;
    height: 28px;
    font-size: 16px;
    color: #916df5;
    border-radius: 10px;
    padding: 0px 8px;
    background-color: #fff;
  }
.icon__power-ups {
    width: 20px;
    height: 20px;
    fill: #916df5;
}
 
.bg__power-ups {
    background-image: url('/img/mobile-bg-power-ups.webp');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 200px;
    height: 189px;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__power-ups {
      background-image: url(/img/mobile-bg-power-ups@2x.webp);
    }
  }

  .title__power-ups-strategy {
    font-size: 20px;
    color: #979eff;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 18px;
    text-shadow:
    -2px -2px 0 #ffffff,
    0 -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 0 0 #ffffff,
    -2px 2px 0 #ffffff,
    0 2px 0 #ffffff,
    2px 2px 0 #ffffff,
    -1px -2px 0 #ffffff,
    1px -2px 0 #ffffff,
    -1px 2px 0 #ffffff,
    1px 2px 0 #ffffff,
    -2px -1px 0 #ffffff,
    2px -1px 0 #ffffff,
    -2px 1px 0 #ffffff,
    2px 1px 0 #ffffff;
  }

  .list2__power-ups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 8px;
  }
.item2__power-ups {
    display: flex;
    align-items: center;
    border-radius: 12px 40px 12px 12px;
    padding: 20px 7px;
    width: 253px;
    height: 48px;
    background: #636acb;
}

.wrapper__man-wheetbarrow {
    position: relative;
    height: 153px;
}
   
.bg__power-ups-man {
    background-image: url('/img/mobile-power-ups-man.webp');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: -16px;
    width: 102px;
    height: 153px;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__power-ups-man {
      background-image: url(/img/mobile-power-ups-man@2x.webp);
    }
  }

  .bg__power-ups-wheelbarrow {
    background-image: url('/img/mobile-wheetbarrow.webp');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 60px;
    height: 60px;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__power-ups-wheelbarrow {
      background-image: url(/img/mobile-wheetbarrow@2x.webp);
    }
  }

/*Dekstop*/

  @media only screen and (min-width: 1200px) {
    .power-ups {
        margin-bottom: 12px;
        padding-top: 0;
     }

     .bg__power-ups {
        display: none;
     }

     .power-ups .container {
        background-image: url('/img/bg-power-ups.webp');
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding-top: 12px;
        height: 1300px;
        
      }
      
      @media (min-resolution: 192dpi) and (max-width: 1199px) {
        .power-ups .container {
          background-image: url(/img/bg-power-ups@2x.webp);
        }
  
 }

 .title__power-ups{
    margin-bottom: 48px;
    text-shadow:none;
    font-size: 48px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

 .bg__text-accent {
    background-image: url('/img/bg-power-accent.webp');
    width: 225px;
    height: 242px;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__text-accent {
      background-image: url(/img/bg-power-accent@2x.webp);
    }
  }
  .text__power-ups {
    top: 21px;
    left: 16px;
    width: 420px;
    line-height: 1.25;
    font-size: 16px;
    padding: 24px 12px 18px;
  }

  .text__power-ups::after {
    content: '';
    display: block;
    position: relative;
    width: 192px;
    height: 2px;
    background-color: white;
    margin-top: 16px;
  }
  .text__power-ups::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    top: 177px;
    left: 7px;
  }

  .text__power-ups-accent {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .wrapper__text-content {
    display: flex;
    gap: 245px;
  }
  .list1__power-ups {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 21px;
    row-gap: 60px;
    column-gap: 70px;
    width: 685px;
    margin-bottom: 0;
  
  }
.item1__power-ups {
    width: 282px;
    height: 102px;
}

.title__power-ups1{
    width: 198px;
    height: 36px;
    font-size: 22px;
}
.text1__power-ups {
    width: 241px;
    height: 80px;
    font-size: 16px;
    left: 65px;
    
}
.item1__power-ups .title__power-ups1.accent {
    left: 0;
  }
.item1__power-ups .text1__power-ups.accent {
    left: 65px;
  }

  .link__power-ups {
    gap: 36px;
    width: 318px;
    height: 36px;
    font-size: 22px;
    margin-left: 56px;

    transition: color, background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.link__power-ups:hover {
    background-color: #916df5;
    color: #fff;
  }
  .link__power-ups:hover .icon__power-ups {
    fill: #fff; 
  }

.icon__power-ups {
    width: 24px;
    height: 24px;
    transition: fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}


.title__power-ups-strategy {
    text-align: right;
    text-shadow:none;
    font-size: 48px;
    -webkit-text-stroke: 2px #fff;
    margin-top: 196px;
    margin-bottom: 60px;
}

.list2__power-ups {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 829px;
    column-gap: 53px;
    row-gap: 36px;
    margin-bottom: 8px;
  }
.item2__power-ups {
    align-items: center;
    padding: 20px 7px;
    width: 241px;
    height: 80px;
}

.text2__power-ups {
    font-size: 16px;
}

.bg__power-ups-man {
    background-image: url('/img/power-ups-man.webp');
    bottom: -72px;
    right: 98px;
    width: 294px;
    height: 360px;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__power-ups-man {
      background-image: url(/img/power-ups-man@2x.webp);
    }
  }

  .bg__power-ups-wheelbarrow {
    background-image: url('/img/wheetbarrow.webp');
    bottom: -110px;
    left: 466px;
    width: 172px;
    height: 157px;
    margin: 0;
    
  }
  
  @media (min-resolution: 192dpi) and (max-width: 1199px) {
    .bg__power-ups-wheelbarrow {
      background-image: url(/img/wheetbarrow@2x.webp);
    }
  }

}
