.bg-theme {
  background-color: #7f8aff;
}

.condition-header {
  padding-top: 20px;
  padding-bottom: 12px;
}

.privacy-section {
  padding-bottom: 41px;
}

.back-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
}

.back-link-icon {
  fill: #fff;
}

.privacy-title,
.privacy-subtitle-info {
  font-size: 16px;
  margin-bottom: 12px;
}

.privacy-text {
  line-height: 1.25;
  margin-bottom: 12px;
}

.privacy-list {
  font-size: 16px;
  counter-reset: list-counter;
}

.privacy-list-item {
  counter-increment: list-counter;
  margin-bottom: 4px;
}

.privacy-list-item::before {
  content: counter(list-counter) ".";
  margin-left: 6px;
  margin-right: 2px;
}

.privacy-subtitle {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 4px;
}

.privacy-text-item {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.privacy-sublist .privacy-sublist-item::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  left: -8px;
  top: 7px;
  border-radius: 0.3px;
}

.privacy-sublist-item {
  font-size: 12px;
  line-height: 1.25;
  margin-left: 8px;
  position: relative;
}

.privacy-sublist-block {
  margin-bottom: 8px;
}


.privacy-list-item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .back-link {
    font-size: 22px;
  }

  .condition-header {
    padding-top: 50px;
    padding-bottom: 28px;
  }

  .privacy-title {
    font-size: 44px;
  }

  .privacy-subtitle-info {
    font-size: 28px;
  }

  .privacy-text {
    font-size: 20px;
    max-width: 1146px;
    margin-bottom: 12px;
  }

  .privacy-subtitle {
    font-size: 32px;
  }

  .privacy-list-item {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .privacy-list-item::before {
    margin-left: 11px;
  }

  .privacy-text-item {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .privacy-sublist-item {
    font-size: 20px;
    margin-left: 114px;
  }

  .privacy-sublist .privacy-sublist-item::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    display: inline-block;
    left: -16px;
    top: 12px;
    border-radius: 0.3px;
  }

  .privacy-sublist-block {
    margin-bottom: 4px;
  }

  .privacy-section {
    padding-bottom: 77px;
  }

}